/* Create database CSS */


body{  
     background-color:white;
     background-image:url('images/wallpaper2.jpg');
     background-repeat:no-repeat;
     background-size:102%;
     height:780px;
     width:100%;
     }

/*database picture*/     
form.blog{
          position:relative;
          left:-50px;
          top:-40px;
          background-image:url('images/image1.jpg');
          background-repeat:no-repeat;
          background-size:130%;
          background-position:center;
          border-style:solid;
          border-radius:20%;
          border-color:#FF8D2E;
          border-width:8px;
          opacity:0.6;
          margin:10%;
          width:45%;
          height:480px;
          font-family:fantasy;
          color:#E8EBFF;
          }
          
          
/*header*/
#header{
        background-image:url('images/header.jpg');
        background-position:-18px;
        position:absolute;
        top:-5px;
        left:-8px;
        margin:1px;
        height:150px;
        color:white;
        position:relative;
        border:6px; 
        border-style:solid;
        border-color:#FF8D2E;
        border-radius:0%;
        opacity:0.8;
        width:100%;
        }

        
/*footer*/
#footer{ 
        background-image:url('images/banner.jpg');
        position:absolute;
        top:-100px;
        left:-8px;
        margin:1px;
        height:150px;
        color:white;
        position:relative;
        border:6px; 
        border-style:solid;
        border-color:#FF8D2E;
        border-radius:0%;
        opacity:0.8;
        width:100%;
        }
 

/* database text*/    
#text{
      position:relative;
      left:235px;
      top:260px;
      color:#FF590B;
      font-family:sans-serif;
      font-weight:700;
      color:white;
      }        
   
#text2{
      position:relative;
      left:335px;
      top:500px;
      color:#FF590B;
      font-family:sans-serif;
      font-weight:700;
      color:white;
      }    
 
        
/* record created text*/
#record{
        position:relative;
        left:800px;
        top:-200px;
        color:#FF590B;
        font-family:sans-serif;
        font-weight:700;
        color:white;
        }        
     
            
/* database table*/ 
 #data{
       position:relative;
       top:-200px;
       left:750px;
       background-color:black;
       color:black;
       border-color:#FF8D2E;
       border-width:8px;
       max-height:200px;
       overflow:scroll;
       color:black;
       font-family:serif;
       border-color:#FF8D2E;
       border-style:solid;
       }    
    
    
    
    
    
    
    
    
    
    
    
    
    
        
        
        
        
